<main>
    <div class="content">
        <h1>BUY & <br>SELL <span>BYCICLE</span></h1>
        <p>Day without training is a lost day!<br>You can sell your old bycicle and change to someone new here!</p>
        <a href="/catalog" class="trade">TRADE</a>
    </div>

    <div class="coin-list">
        <a href="/catalog/roadBikes">
        <div class="coin">
            <img src="../static/images/bitcoin.png">
            <div>
                <h3>Cycling</h3>
            </div>
        </div>
        </a>
        <a href="/catalog/mtbBikes">
        <div class="coin">
            <img src="../static/images/ethereum.png">
            <div>
                <h3>Mountain</h3>
            </div>
        </div>
        </a>
        <a href="/catalog/downhillBikes">
        <div class="coin">
            <img src="../static/images/dogecoin.png">
            <div>
                <h3>Downhill</h3>
            </div>
        </div>
        </a>
    </div>
</main>