<section id="viewhotelDetails">
                <div class="profile"><img src="../static/images/profile.png" alt="default user">
                    <h3>User Info:</h3>
                    <div class="flex">
                        <p>Username: </p>
                        <p>{{user.username}}</p>
                    </div>
                    <div class="flex">
                        <p>Email: </p>
                        <p>{{user.email}}</p>
                    </div>
                </div>
</section>
<section class="crypto-market">
            <h1><span>{{h1}}</span>Ordered bicycles</h1>
            {{#if bicycles}}
            <div class="offer-list">
                {{#each bicycles}}
                  {{> bicycleCard}}
                {{/each}}
            </div>
            {{else}}
            <div class="no-offer">
                <p>There are no ordered bicycle!</p>
            </div>
            {{/if}}
</section>