<main>
        <div class="register-box">
            <h1>Register</h1>
            <h4>It's free and only take a minute</h4>
            <form action="/auth/register" method="post">
                <label>Username</label>
                <input type="text" name="username" placeholder="between 2 and 15 symbols.." value="{{body.username}}">
                <label>Email</label>
                <input type="text" name="email" placeholder="Valid email.." value="{{body.email}}">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password..">
                <label>Confirm Password</label>
                <input type="password" name="rePass" placeholder="Confirm Password..">
                <input type="submit" value="Submit">
            </form>
            <p>Already have an account? <a href="/auth/login">Login here</a></p>
        </div>
</main>