<main>
        <section class="crypto-search">
            <h1>Search</h1>

            <form class="search-form" action="/search" method="post">
                <input type="text" class="search-coin" name="name" placeholder="Search by name..." value="{{body.name}}">
                <input type="number" class="search-coin" name="price" placeholder="price until..." value="{{body.price}}">  
                <select id="condition" class="search-coin" name="condition" value="{{body.condition}}">
                    <option value="new">new</option>
                    <option value="used">used</option>
                </select>  
                <button type="submit" class="btn-search">Search</button>
            </form>
            {{#if matches}}
            <div class="search-result">
                <div class="search-list">
                    {{#each matches}}
                     {{> bicycleCard}}
                    {{/each}}
                </div>
            </div>
            {{else}}
            <div class="no-match">
                <p>No match was found!</p>
            </div>
            {{/if}}
        </section>
</main>
